$color-prin: #001d7e;
$color-sec: #40a5cc;
$color-base: #ffffff;

//Navbar-tonos de azules
$color-1: #a8eef0;
$color-2: #a3e0e2;
$color-3: #9ed2d4;
$color-4: #99c5c6;
$color-5: #919191;

$bg: #1b2431;
$light-text: #738297;
$dark-text: #273142;
$light-bg: #313D4F;