.container-form {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.3rem;
  padding: 2%;
}

.info-form {
  padding: 3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  border-radius: 10px;
  outline: solid #000 1px;
}

.container-form form img {
  width: 30%;
}

.container-form form textarea {
  max-width: 49vw;
  min-width: 20vw;
  min-height: 20vh;
  max-height: 50vh;
}

form,
.campo,
textarea {
  width: 100%;
  padding: 1vh 0.5vw;
}

.btn-enviar {
  border: none;
  background-color: #002141;
  color: #fff;
  padding: 1% 2%;
  width: 20%;

  &:hover {
    scale: 1.1;
    transition: ease 0.2s;
  }
}
