@import './imports/Colors.scss';
@import './imports/Letters.scss';
* {
    max-width: 100%;
  }

//Navbar
body{
    margin: 0;
    padding: 0;
}

.index_nav_ul_li, .index_li_a, .a_button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.index_header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fff;
}

.index_logo .h1_a{
    color: #000;
}

.index_li_a{
    list-style: none;
}

.index_nav_ul li{
    display: inline-block;
    padding: 0px 20px;
}

.index_nav_ul li a{
    transition: all 0.3s ease 0s;
}

.index_nav_ul li a:hover{
    color: $color-5;
}

.a_button{
    padding: 9px 25px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #797979;
}

.index_logo .h1_a:link,
.index_logo .h1_a:visited,
.index_logo .h1_a:active {
  text-decoration: none;
}

//Sobre Nosotros

.contenedor_sbn{
    display: flex;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.082);
}

.imagen_sbn{
    width: 50%;
    height: 530px;
}

.texto_sbn{
    padding-left: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #000;
}