@import './imports/Colors.scss';
@import './imports/Letters.scss';

*{
    margin: 0;
    padding: 0;
}

.index_nav_ul_li, .index_li_a, .a_button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: $color-base;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.index_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #000;
}

.index_logo .h1_a{
    color: #fff;
}

.index_li_a{
    list-style: none;
}

.index_nav_ul li{
    display: inline-block;
    padding: 0px 20px;
}

.index_nav_ul li a{
    transition: all 0.3s ease 0s;
}

.index_nav_ul li a:hover{
    color: $color-5;
}

.a_button{
    padding: 9px 25px;
    background-color: $color-base;
    color: #000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #DFDFDF;
}

.index_logo .h1_a:link,
.index_logo .h1_a:visited,
.index_logo .h1_a:active {
  text-decoration: none;
}
