@import  './Colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    padding: 0;
    margin: 0;
}

.contenedor_logo{
    width: 100%;
    height: calc(100vh - 90vh);
    font-family: 'Open Sans', sans-serif;
    background-color: #E1E1E1;
}

.logo{
    margin: 0;
    padding-top: 20px;
    padding-left: 100px;
    cursor: pointer;
}


.nav_ul_item{
    list-style-type: none;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #5A5A5F;
    font-size: 20px;
}

.nav_ul_item .li_a{
    text-decoration: none;
    margin-left: 10px;
    color: #5A5A5F;
}

.navbar{
    display: flex;
    width: 240px;
    height: 90vh;
    background-color: #E1E1E1;
}

.li_a:link, .li_a:visited, .li_a:active {
    text-decoration:none;
}

.li_a:hover{
    color: #000;
}