.user-profile {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 

  .user-photo {
    flex: 0 0 auto;
    width: 210px;
    height: 210px;
    overflow: hidden;
    border-radius: 55%;
    display: block;
    margin: 1rem auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .user-info {
    flex: 1 1 auto;
    font-size: large;
    margin-top: 15px;
    text-align: center;
    color: white;
  
    .full-name,
    .email,
    .username {
      margin: 1rem;
    }
  }
/*
  .form-container {
    display: flex;
    margin-top: 1rem;
    width: 100%;

    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .personal-data,
      .account-data {
        flex: 1 1 50%;
        padding: 1rem;
        margin: 0 15px 15px 0;
        border: 1px solid #ccc;
        border-radius: 4px;

        h3 {
          margin-bottom: 0.5rem;
        }

        .form-row {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;

          label {
            flex: 0 0 150px;
            font-weight: bold;
          }

          input {
            flex: 1 1 auto;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 4px;
          }
        }
      }
    }
  }
  */
}
.photobutton {
  display: flex;
  flex-direction: column;
  align-items: center;
}