.user-profile {
  display: flex;

  .user-photo {
    flex: 0 0 auto;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: 1rem auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .user-info {
    flex: 1 1 auto;
    margin: 1rem;
    text-align: center;

    .full-name,
    .email,
    .username {
      margin: 1rem;
    }
  }

  .form-container {
    display: flex;
    margin-top: 1rem;
    width: 100%;

    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .personal-data,
      .account-data {
        flex: 1 1 50%;
        padding: 1rem;
        margin: 0 15px 15px 0;
        border: 1px solid #ccc;
        border-radius: 4px;

        h3 {
          margin-bottom: 0.5rem;
        }

        .form-row {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;

          label {
            flex: 0 0 150px;
            font-weight: bold;
          }

          input {
            flex: 1 1 auto;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 4px;
          }
        }
        }
      }
    }
  }

  .photobutton{
      display: flex;
      flex-direction: column;
      align-items: center;
  }