// PopUp Client
.container_popupClient {
  width: 100vw;
  height: 108vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000aa;
}

@keyframes popup {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.container_form {
  width: 85%;
  height: auto;
  background-color: #fff;
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2vh;
  border-radius: 15px;
  animation: popup 0.2s;
}

.popup_client {
  outline: #000 solid 1px;
  border-radius: 20px;
  height: auto;
  padding: 15px;

  h1 {
    padding-left: 2vw;
  }
}

.container_structure {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / -1;
  gap: 2vw;
}

.container_popup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // .object has to take 2 columns instead of just one

  .object {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: #000 solid 1px;
    border-radius: 20px;
    justify-items: center;
  }
}

.info_popup {
  padding: 10px;

  .info_popup_ext {
    padding: 1vh 0;
    display: flex;
    gap: 0.5vw;
    align-items: center;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .info_popup {
    flex-wrap: wrap;
    gap: 1vh;
    justify-content: center;
  }
}

.close {
  color: #fff;
  font-size: 4rem;
  position: absolute;
  top: 1vh;
  left: 92.5vw;
}

.close:hover,
.close:focus {
  color: #aaaaaa;
  text-decoration: none;
  cursor: pointer;
}
