// PopUp Client
.container_popupClient {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #000000aa;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes popup {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.container_formPoppup {
  width: 80%;
  height: 80%;
  background-color: #fff;
  animation: popup 0.2s;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 2vh 1vw;

  h1 {
    height: 5%;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
  }
}

.popup_client {
  height: 90%;
  overflow: auto;
}

.container_structure {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / -1;
}

.container_popup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // .object has to take 2 columns instead of just one

  .object {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: #000 solid 1px;
    border-radius: 20px;
    justify-items: center;
  }
}

.info_popup {
  padding: 10px;
  column-gap: 1vh;
  row-gap: 1vh;

  h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1vh;
  }
  .info_popup_ext {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    gap: 0.8vh;
  }
}

@media screen and (max-width: 768px) {
  .info_popup {
    flex-wrap: wrap;
    gap: 1vh;
    justify-content: center;
  }
}

.close {
  color: #fff;
  font-size: 4rem;
  position: absolute;
  top: 4vh;
  left: 90vw;
}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}
