body{
    overflow-x: hidden;
}

.semibody_NoAccess{
    height: 92vh;
    width: 85vw;
    background-color: #EBEBEB;
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;

    .contenedor_NoAccess{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }
}

.txt_NoAccess{
    margin: 0;
}

.contenedor_NoAccess .NoAccess{
    font-size: 5rem;
    margin: 0;
    font-weight: 700;
    letter-spacing: 15px;
}

.btn_NoAccess{
    padding: 15px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    transition: all 0.3s;
    cursor: pointer;

    &:hover{
            background-color: rgb(82, 82, 82);
    }
}