.main_dash {
    width: 85%;
    height: 100%;
  
    .container_formUsuario{
      width: 100%;
      height: auto;
      padding: 2vh 1vw;
    }
  
    .controls_usuarioForm {
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: space-around;
  
      .container_search_usuario {
        height: 100%;
        width: 70%;
        display: flex;
        align-items: center;
        gap: 1vw;
  
        .text_usuario {
          font-size: 2rem;
        }
  
        .search_usuario {
          width: 60%;
          height: 40%;
          border: 1px solid #000;
          border-radius: 30px;
          padding: 0 1vw;
        }
      }
  
      .open_usuario {
        width: 15%;
        height: 70%;
        background-color: #002141;
        font-family: 'Rubik', sans-serif;
        font-size: 100%;
      }
    }
  }